<!-- <form [formGroup] = "userform" (ngSubmit)="SaveEmployee()">
    <div class="mb-3">
    <label>identity</label>
    <div class="input-group">
        <input name="identity" class="form-control" formControlName = "identity">
    </div>
    </div>
    <div class="mb-3">
        <label>email</label>
        <div class="input-group">
            <input name="email" class="form-control" formControlName = "email">
        </div>
        </div>
        <div class="mb-3">
            <label>mobile</label>
            <div class="input-group">
                <input name="mobile" class="form-control" formControlName = "mobile">
            </div>
            </div>
        <div class="mb-3">
                <label>address</label>
                <div class="input-group">
                    <input name="address" class="form-control" formControlName = "address">
                </div>
                </div>
    


</form> -->
<button type="button" class="btn btn-success btn-lg"  (click)="addNewItem()">Add New Item</button>
<table border="1" align ="center">
    <tr >
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>number</th>
        <th>gender</th>
        <th>status</th>
    </tr>
    <tr *ngFor="let obj of users">
        <td>{{obj.id}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.email}}</td>
        <td>{{obj.number}}</td>
        <td>
            <input type="radio" [value]="obj.gender" name="gender"> Male
            <input type="radio" [value]="obj.gender" name="gender"> Female
        </td>
        <td>
            <input type="checkbox" [checked]="obj.status" required>{{obj.status ? 'Active':'InActive' }}
        </td>
    </tr>
</table>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
         
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>